:root {
    /* fonts */
    --main-font: Roboto, sans-serif;
    --secondary-font: Raleway, sans-serif;
    /* test corols */
    --main-txt-cl: #757575;
    --secondary-txt-cl: #212121;
    /* background colors */
    --main-bck-cl: #F5F5F5;

}

.page {
    font-family: var(--main-font);
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.03em;
    background-color: var(--main-bck-cl);
    color: var(--main-txt-cl);
}

a {text-decoration: none;}
ul {list-style: none;}
.button {cursor: pointer;}

button {
    cursor: pointer;
}

p {
    font-style: normal;
}

/* header */

.logo {
    font-family: 'Raleway';
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    color: #2196F3;
    font-family: var(--secondary-font);
}
.logo2 {
    font-family: 'Raleway';
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    color: #000000;
    font-family: var(--secondary-font);
}
.foot-logo2 {
    font-family: 'Raleway';
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    color: #FFFFFF;
    font-family: var(--secondary-font);
}
.nav-link:hover,
.nav-link:focus {color: #2196F3;}
.nav-link:active {color: #2196F3;}

.nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: #212121;
}
.nav-link1 {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: #2196F3;
}
.contact-link:hover,
.contact-link:focus {
    color: #2196F3;
}
.contact-link { 
    color: #757575;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: #757575;
}

.add-text:hover,
.add-text:focus {
    color: #2196F3;
}

/* main */

h1, h2 {display: none}
.filter-list:hover,
.filter-list:focus {
    color: #2196F3;
}

.filter-button:hover,
.filter-button:focus {
    background-color: #2196F3;
    color:#FFFFFF;
}
.filter-button {
    background: #F5F4FA;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    font-family: inherit;
}

.project-name {
    font-weight: 700;
    font-size: 18px;
    line-height: calc(36 / 18);
    letter-spacing: 0.06em;
    color: #212121;
}

.project-text {
    font-style: normal;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.03em;
    color: #757575;
}

/* footer */

.foot {
    background-color: #2F303A;
}

.address-text {
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.add-text {
    font-style: normal;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}